html {
  box-sizing: border-box;
  background-color: #f1efef;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media screen and (max-width: 800px) {
  .html {
    background-color: yellow;
  }
}

@media screen and (min-width: 801px) {
  .html {
    background-color: red;
  }
}

body {
  margin: 0 auto;
  max-width: 1080px;
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

h1 {
  font-size: 2rem;
  line-height: 0.8;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.infos h2 {
  text-align: right;
  position: absolute;
  top: 4rem;
}

.resume h2 {
  border-bottom: 3px solid black;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

.core {
  display: flex;
  flex-wrap: wrap;
}

.resume {
  flex: 1;
  padding-left: 20px;
}

.interests {
  display: flex;
  align-items: center;
}

.interests img {
  margin-bottom: 0;
  margin-right: 10px;
}

.cat {
  height: 25px;
}

.pad {
  height: 20px;
}

.book {
  height: 25px;
}

.glove {
  height: 25px;
}

.note {
  height: 20px;
}

.skills {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 11px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.frameworks {
  justify-content: space-between;
  margin: 10px 0;
  font-size: 11px;
}

.role {
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
}

.project-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.project-title h3 {
  margin: 0;
  padding-right: 20px;
}

@media (max-width: 768px) {
  header,
  .infos,
  .resume {
    width: 100%;
    padding: 0 10px;
  }

  .infos {
    margin-top: 20px;
    border-top: 1px solid black;
    order: 1;
  }

  .project-title {
    flex-wrap: wrap;
  }

  .project-description {
    width: 100%;
    font-style: italic;
  }
}