html {
  background-color: grey;
}

body {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 1280px;
  background-color: #f1efef;
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

h1 {
  font-size: 3rem;
  line-height: 0.8;
  text-transform: uppercase;
}

h2 {
  text-align: right;
  position: absolute;
  top: 4rem;
  text-transform: uppercase;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:visited {
  color: inherit;
}

.bio {
  padding-top: 2rem;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

.core {
  display: flex;
}

.resume {
  flex: 1;
  /* background-color: yellow; */
}

.interests {
  display: flex;
  align-items: center;
}

.interests img {
  margin-bottom: 0;
}

.cat {
  height: 40px;
}

.pad {
  height: 35px;
}

.book {
  height: 40px;
}

.glove {
  height: 40px;
}

.note {
  height: 30px;
}